body {
  
  font-family: sans-serif;
  background-size: cover;
  
  margin:auto;
}

.App-title{
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  color: black;

}

.logo{
  height: 35px;
  width: 35px;
}